{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BeatsVerse.IO</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="dewanwakilahmed" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.cbaseapp/om"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'baseapp/css/tailwind.output.styles.css' %}"
    />
  </head>

  <body>
    <div class="app-background">
      {% block base_content %} {% endblock %}
    </div>
  </body>
</html>
