{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'baseapp/css/tailwind.output.styles.css' %}"
    />
    <title>Admin Panel | Beats Verse</title>
  </head>
  <body>
    <div class="admin-panel-background">
      <div class="admin-panel">
        <header class="admin-panel-header">
          <h1 class="admin-panel-title">ADMIN PANEL</h1>
        </header>
        <div class="admin-panel-body">
          <div class="admin-panel-nav-section">
            <ul class="admin-panel-nav">
              <li class="admin-panel-tab">Dashboard</li>
              <li class="admin-panel-tab">Daily Rewards</li>
              <li class="admin-panel-tab">XP Rewards</li>
              <li class="admin-panel-tab">Ticket Purchases</li>
              <li class="admin-panel-tab">Gift Purchases</li>
              <li class="admin-panel-tab">Asset Sales</li>
            </ul>
          </div>
          <div class="admin-panel-selected-tab-content">CONTENT MAIN</div>
        </div>
      </div>
    </div>
  </body>
</html>
