{% extends 'baseapp/base/base.html' %}

{% block base_content %}
<div class="login-page">
  <div class="application-title-container">
    <h1 class="application-title">BEATS VERSE</h1>
  </div>
  <div class="login-page-greeting-msg-container">
    <p class="login-page-greeting-msg">Welcome</p>
  </div>
  <form action="" method="POST" class="login-form">
    {% csrf_token %}
    <p class="user-instruction">
      Please enter your username and password below
    </p>
    <input
      type="text"
      name="username"
      class="user-login-input"
      placeholder="Username"
    />
    <input
      type="password"
      name="password"
      class="user-login-input"
      placeholder="Password"
    />
    <input type="submit" name="login" class="login-btn" value="Login" />
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </form>
</div>
{% endblock %}