{% extends 'baseapp/base/base.html' %}

{% load static %}

{% block base_content %}
<div class="login-register-page">
  <div class="app-details-container">
    <h1 class="app-title">BeatsVerse.IO</h1>
    <!-- <div class="app-icon-container">
      <img class="app-icon" src="{% static 'baseapp/asset/icon/beats-verse.svg' %}" alt="beats-verse-icon">
    </div> -->
  </div>
  <div class="login-page-greeting-msg-container">
    <p class="login-page-greeting-msg">Welcome</p>
  </div>
  <form action="" method="POST" class="login-form">
    {% csrf_token %}
    <p class="user-instruction">
      Please enter your username and password below
    </p>
    <input
      type="text"
      name="username"
      class="user-login-input"
      placeholder="Username"
    />
    <input
      type="password"
      name="password"
      class="user-login-input"
      placeholder="Password"
    />
    <div class="login-register-page-actions">
      <div class="login-register-btns">
        <input type="submit" name="login" class="login-register-btn" value="Login" />
        <input type="submit" name="register" class="login-register-btn" value="Register" />
      </div>
      <button class="google-sign-in-btn-container">
        <img class="google-sign-in-icon" src="{% static 'baseapp/asset/icon/google-sign-in-icon.svg' %}" alt="google-sign-in-icon">
        <span class="google-sign-in-btn-title">
          Sign in with Google
        </span>
      </button>
    </div>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </form>
</div>
{% endblock %}