{% extends 'baseapp/guilds-tab.html' %}

{% load static %}

{% block guild_tab_header_content %}
<div class="user-selected-guild">
  <div class="user-selected-guild-icon-container">
    <img
      class="user-selected-guild-icon"
      src="{{ selected_guild.guild_image.url }}"
    />
  </div>
  <div class="user-selected-guild-details">
    <h2 class="user-selected-guild-title">{{ selected_guild.guild_name }}</h2>
    <p class="user-selected-guild-xp">248 XP</p>
  </div>
</div>
{% endblock %}

{% block guild_tab_body_content %}
(Currently there are no player(s) in {{ selected_guild.guild_name }} Guild with {{ selected_guild_rank.guild_rank_name }} rank!)
{% endblock %}