{% extends 'baseapp/guilds-tab.html' %}

{% load static %}

{% block guild_tab_header_content %}
<div class="user-selected-guild">
  <div class="user-selected-guild-icon-container">

  </div>
</div>
{% endblock %}
<img
  class="user-selected-guild-icon"
  src="{{ user.user_guild.guild_image.url }}"
/>

{% block guilds_content %}
<ul class="guilds-list">
  {% for guild_item in guild %}
  <li class="guilds-list-item">
    <a href="/selected-guild" class="guilds-list-item-link">
      <div class="guilds-list-item-icon-container">
        <img
          class="guilds-list-item-icon"
          src="{{ guild_item.guild_image.url }}"
          alt=""
        />
      </div>
      <div class="guilds-list-item-details">
        <p class="guilds-list-item-title">{{ guild_item.guild_name }}</p>
        <p class="guilds-list-item-xp">110 XP</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}